<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  <style>
    
    .social-icon{
      text-decoration: none;
    }
/*     ion-icon {
  color: blue; */
/* } */
    
  </style>
  </head>
  <body>
    <div class="wrapper">
      <header>
<!--         <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1> -->

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p style="margin:5px;">{{ site.description | default: site.github.project_tagline }} </p>

        <a href="https://github.com/rebeccatruong7" target="_blank">
            <img src="assets/img/github-alt.svg" alt="github" width="28" height="28">
        </a>
        <a href="https://www.linkedin.com/in/rebecca-truong/" target="_blank">
            <img src="assets/img/linkedin-in.svg" alt="linkedin" width="28" height="28">
        </a>
        <a href="https://medium.com/@rebecca.truong" target="_blank">
            <img src="assets/img/medium.svg" alt="medium" width="28" height="28" >
        </a>
<!--         <a href="file.pdf" target="_blank">
         <img src="assets/img/envelope-regular.svg" alt="email" width="28" height="28"> -->
        <br>
      
      </header>
      <section>

      {{ content }}

      </section>
      
      <footer style="width:100%;">
<!--         {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <br> -->
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  </body>
</html>
